#we_know {
  background-color: #eff7f8;
  padding: 80px 30px;
  margin-bottom: 80px;
  .container {
    .we_know_details {
      p{
        line-height: 1.5;

      }
      display: flex;
      justify-content: center;
      gap: 20px;
      .justify_center {
        display: flex;
        justify-content: center;
      }
      h3 {
        margin-bottom: 25px;
      }
      .two_detail{
        p{
            margin-bottom: 25px;
          }a{
            color: black;
          }
      }
      .circle_know {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url("../../../assets/images/weknow.png");
        background-size: cover;
        margin-bottom: 30px;
      }
      .circle_care {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url("../../../assets/images/takecare.png");
        background-size: cover;
        margin-bottom: 30px;
      }

      .circle_worry {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url("../../../assets/images/lessworry.png");
        background-size: cover;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .we_know_details {
    flex-direction: column;
    align-items: center;
    .one_detail,
    .two_detail,
    .three_detail {
      margin-top: 60px;
    }
  }
}
@media screen and (max-width: 992px) {
  .we_know_details {
    flex-direction: column;
    align-items: center;
    .one_detail,
    .two_detail,
    .three_detail {
      margin-top: 60px;
    }
  }
}
