#activities {
  .container {
    border-top: 1px solid lightgray;

    padding: 60px 30px;
  }
  .activities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .title {
      font-size: 32px;
      color: #323940;
      margin-bottom: 20px;
    }
    .activities_left {
      .provides {
        background-color: #f7f9fa;
        padding: 20px;
        border-radius: 10px;
        display: flex;

        flex-direction: column;
        gap: 20px;
        .prov {
          padding: 10px 0px;
          border-bottom: 1px solid lightgray;
          display: flex;
          justify-content: space-between;
          gap: 350px;
          max-width: 700px;
          @media (max-width: 767px) {
            gap: 150px;
          }
          .icon {
            font-size: 20px;
            color: #59bec9;
          }
        }
      }
    }
    .activities_right {
      .activite {
        background-color: #f7f9fa;
        padding: 20px;
        border-radius: 10px;
        display: flex;

        flex-direction: column;
        gap: 20px;
        .prov {
          padding: 10px 0px;
          border-bottom: 1px solid lightgray;
          display: flex;
          justify-content: space-between;
          gap: 350px;
          max-width: 700px;
          @media (max-width: 767px) {
            gap: 150px;
          }
          .icon {
            font-size: 20px;
            color: #59bec9;
          }
        }
      }
    }
  }
}
