#baby_sitters_detail_rating{
    padding: 30px 30px;
    .container{
        .baby_sitters_detail_rating{
            .rew{
                margin-left: 10px;
            }
            .icon{
                color: aquamarine;

            }
        }
    }
}