#baby_sitters_about {
  padding: 60px 30px;
  border-top: 1px solid lightgray;
  .baby_sitters_about {
    background-color: #f7f9fa;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;

    .baby_sitters_about_left {
      padding: 20px;
      max-width: 300px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;
      @media (max-width: 767px) {
      }
      .yes_no {
        text-align: end;
        font-size: 18px;
      }
      .icon {
        font-size: 26px;
        color: #bdc6ce;
      }
      .driver_license {
        display: flex;
        justify-content: space-between;
      }
      .location {
        display: flex;
        justify-content: space-between;
      }
      .education {
        display: flex;
        justify-content: space-between;
      }
      .has_children {
        display: flex;
        justify-content: space-between;
      }
      .icon_text {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }
    .baby_sitters_about_right {
      padding: 20px;
      max-width: 310px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;

      height: 300px;
      .yes_no {
        text-align: end;
        font-size: 18px;
      }
      .icon {
        font-size: 26px;
        color: #bdc6ce;
      }
      .icon_text {
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .smoker {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .car {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .favorited {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .language {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
