.cards {
  display: flex;
  gap: 20px;
}
.card {
  width: 200px;
  height: 310px;
  border-radius: 10px;
  background-color: #f7f9fa;
  overflow: hidden;
  .card_image {
    width: 200px;
    height: 220px;
    background-image: url("https://picsum.photos/200/220");
    background-size: cover;
  }
  .card_detail {
    // border: 1px solid red;
    text-align: center;
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
  }
  .raiting_stars {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
