#baby_sitters_share {
  .container {
    padding: 60px 30px;
    border-top: 1px solid lightgray;
    max-width: 1300px;
    .baby_sitters_share {
      .baby_sitters_share_icons {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
        .icon {
          color: lightblue;
          font-size: 25px;
        }
      }
    }
  }
}
