#delete_page {
    background-color: #eff7f8;
  margin-top: 40px;
  padding-bottom: 50px;
  .change_size {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .delete_sides {
    display: flex;
    justify-content: space-between;
    .right_side_delete {
      .delete_form {
        p {
          font-size: 30px;
        }
        .input_delete {
          display: flex;
          gap: 10px;
          padding-top: 10px;
          label {
            font-size: 25px;
          }
          input {
            width: 20px;
            cursor: pointer;
          }
        }
        .delete_button_sure {
          padding-top: 20px;
          button {
            padding: 10px 15px;
            border-radius: 15px;
            background-color: #389ba7;
            border: none;
            color: #f7f9fa;
            cursor: pointer;
          }
        }
        .text_delete {
          padding-top: 10px;
          span {
            color: #4d565e;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .delete_sides {
    flex-direction: column;
    align-items: center;
    .left_side_delete,
    .right_side_delete {
      margin-top: 60px;
    }
  }
}
