#achievments {
    padding: 60px 30px;
    border-top: 1px solid lightgray;
    .achievments {
      .achievments {
        display: flex;
        align-items: center;
        gap: 25px;
        .achievments_icon {
          font-size: 20px;
  
          color: #389ba7;
        }
        .achievments_text {
          .achievments_title {
            h2 {
              font-size: 16px;
              color: #323940;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  .sa {
    margin-bottom: 30px;
  }
  