#buttons_admin{
    .edit_delete{
        display: flex;
        gap: 20px;
        padding-top: 50px;
        button{
            padding: 10px 15px;
            border-radius: 15px;
            background-color: #389ba7;
            border: none;
            color: #f7f9fa;
        }
    }
}